.landing-page-mock-up,
.landing-page-mock-up * {
  box-sizing: border-box;
}
.landing-page-mock-up {
  background: #ffffff;
  width: 674px;
  height: 2637px;
  position: relative;
  overflow: hidden;
}
.ima-3-1 {
  width: 693px;
  height: 418px;
  position: absolute;
  left: -5px;
  top: 2002px;
}
.vector-1 {
  position: absolute;
  left: -220px;
  top: 1051px;
  overflow: visible;
}
.rectangle-18 {
  background: #f5eacd;
  width: 318px;
  height: 402px;
  position: absolute;
  left: 359px;
  top: -4px;
}
.the-great-event {
  color: #0097d1;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 37px;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.proveedores {
  color: #0097d1;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 248px;
  top: 479px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.servicios {
  width: 58px;
  height: 19px;
  position: absolute;
  left: 375px;
  top: 20px;
}
.our-servies {
  color: #000000;
  text-align: left;
  font: 400 12px/16px "Caladea", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 81px;
  height: 19px;
}
.servicios2 {
  width: 58px;
  height: 19px;
  position: absolute;
  left: 323px;
  top: 20px;
}
.sobre-nosotros {
  width: 54px;
  height: 16px;
  position: absolute;
  left: 428px;
  top: 24px;
}
.about-us {
  color: #000000;
  text-align: left;
  font: 400 12px/16px "Caladea", sans-serif;
  position: absolute;
  left: 13.38px;
  top: -4px;
  width: 54px;
  height: 16px;
}
.sobre-nosotros2 {
  width: 34px;
  height: 16px;
  position: absolute;
  left: 492px;
  top: 23px;
}
.about-us2 {
  color: #000000;
  text-align: left;
  font: 400 12px/16px "Caladea", sans-serif;
  position: absolute;
  left: 8.42px;
  top: -4px;
  width: 34px;
  height: 16px;
}
.sobre-nosotros3 {
  width: 37px;
  height: 15px;
  position: absolute;
  left: 536px;
  top: 24px;
}
.about-us3 {
  color: #000000;
  text-align: left;
  font: 400 12px/16px "Caladea", sans-serif;
  position: absolute;
  left: 9.17px;
  top: -3.75px;
  width: 37px;
  height: 15px;
}
.contactarnos {
  width: 61px;
  height: 16px;
  position: absolute;
  left: 593px;
  top: 20px;
}
.contac-us {
  color: #000000;
  text-align: left;
  font: 400 12px/16px "Caladea", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 61px;
  height: 16px;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 531px;
  top: 336px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.comic-light-small-base {
  background: #145bc6;
  border-radius: 8px;
  border-style: solid;
  border-color: #fbfcfd;
  border-width: 2px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120px;
  height: 33px;
  position: relative;
  box-shadow: -4px 4px 0px 0px rgba(246, 172, 156, 1);
}
.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button2 {
  color: #fbfcfd;
  text-align: center;
  font: 400 14px/16px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 391px;
  top: 336px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.comic-light-small-base2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #0a5fc3;
  border-width: 2px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120px;
  height: 33px;
  position: relative;
  box-shadow: -4px 4px 0px 0px rgba(246, 172, 156, 1);
}
.button4 {
  color: #0a5fc3;
  text-align: center;
  font: 400 14px/16px "Inter", sans-serif;
  position: relative;
}
.transformamos-tus-ideas-en-eventos-inolvidables-queremos-que-te-concentres-en-disfrutar-de-cada-momento-mientras-nosotros-nos-encargamos-de-los-detalles-quieres-saber-c-mo-lo-hacemos {
  color: #000000;
  text-align: center;
  font: 400 13px "Kiwi Maru", sans-serif;
  position: absolute;
  left: 36px;
  top: 136px;
  width: 302px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-17 {
  background: #42d1ff;
  width: 114px;
  height: 29px;
  position: absolute;
  left: 254px;
  top: 3002px;
}
.send {
  color: #ffffff;
  text-align: center;
  font: 700 32px "Poppins", sans-serif;
  position: absolute;
  left: 288px;
  top: 3006px;
  width: 47px;
  height: 13px;
}
.frame-21 {
  background: #31433f;
  width: 806px;
  height: 148px;
  position: absolute;
  left: -98px;
  top: 2473px;
  overflow: hidden;
}
.p-1 {
  width: 108px;
  height: 111px;
  position: absolute;
  left: 624px;
  top: 53px;
}
.idioma-espa-ol {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 602px;
  top: 32px;
}
.idioma-espa-ol-span {
  color: #ffffff;
  font: 400 12px "Inika", sans-serif;
}
.idioma-espa-ol-span2 {
  color: #ffffff;
  font: 400 8px "Inika", sans-serif;
}
.comunidad-pautas-para-la-comunidad-centro-de-seguridad {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 195px;
  top: 32px;
}
.comunidad-pautas-para-la-comunidad-centro-de-seguridad-span {
  color: #ffffff;
  font: 400 12px "Inika", sans-serif;
}
.comunidad-pautas-para-la-comunidad-centro-de-seguridad-span2 {
  color: #ffffff;
  font: 400 8px "Inika", sans-serif;
}
.publicidad-comprar-anuncios-normas-de-publicidad-biblioteca-de-anuncios-pol-ticos-pautas-de-la-marca-reglas-de-promociones {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 400px;
  top: 32px;
}
.publicidad-comprar-anuncios-normas-de-publicidad-biblioteca-de-anuncios-pol-ticos-pautas-de-la-marca-reglas-de-promociones-span {
  color: #ffffff;
  font: 400 12px "Inika", sans-serif;
}
.publicidad-comprar-anuncios-normas-de-publicidad-biblioteca-de-anuncios-pol-ticos-pautas-de-la-marca-reglas-de-promociones-span2 {
  color: #ffffff;
  font: 400 8px "Inika", sans-serif;
}
.y-1 {
  width: 162px;
  height: 116px;
  position: absolute;
  left: 527px;
  top: 50px;
}
.f-1 {
  width: 106px;
  height: 124px;
  position: absolute;
  left: 591px;
  top: 53px;
}
.image-15 {
  width: 22px;
  height: 20px;
  position: absolute;
  left: 565px;
  top: 98px;
}
.en-the-great-event-creemos-en-hacer-que-la-planificaci-n-de-tus-eventos-sea-m-s-f-cil-m-s-creativa-y-m-s-emocionante-que-nunca-imagina-una-herramienta-poderosa-que-te-ayuda-a-organizar-cualquier-tipo-de-evento-ya-sea-una-boda-ntima-una-fiesta-de-cumplea-os-espectacular-o-una-conferencia-empresarial-exitosa-de-manera-r-pida-y-eficiente-est-s-en-el-lugar-adecuado {
  color: #000000;
  text-align: center;
  font: 400 14px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: 99px;
  top: 1089px;
  width: 472px;
  height: 95px;
}
.the-great-event-simplifica-la-planificaci-n-de-eventos-ahorra-tiempo-y-estr-s-conecta-con-proveedores-locales-mejora-la-experiencia-del-usuario-promueve-la-personalizaci-n-ahorra-dinero-y-est-disponible-en-aplicaciones-m-viles-y-web {
  color: #000000;
  text-align: center;
  font: 400 14px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: 72px;
  top: 1461px;
  width: 269px;
}
.frame-26 {
  background: #ffffff;
  border-radius: 11px;
  width: 178px;
  height: 480px;
  position: absolute;
  left: 52px;
  top: 1957px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-35 {
  background: #92dd91;
  width: 183px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.free {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 21px;
  top: 14px;
  width: 138px;
  height: 25px;
}
.registro-y-acceso-b-sico-a-la-aplicaci-n-funcionalidades-esenciales-para-planificar-eventos-como-la-organizaci-n-de-invitados-presupuesto-y-tipo-de-evento-recomendaciones-de-proveedores-locales-y-sugerencias-b-sicas-para-la-planificaci-n-del-evento-publicidad-o-anuncios-en-la-aplicaci-n-para-generar-ingresos {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 10px;
  top: 161px;
  width: 153px;
  height: 239px;
}
.rectangle-37 {
  border-radius: 0px;
  position: absolute;
  left: 39px;
  top: 418px;
  overflow: visible;
}
.obtenerlo {
  color: #ffffff;
  text-align: center;
  font: 400 14px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 39px;
  top: 418px;
  width: 108px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-35 {
  width: 43px;
  height: 61px;
  position: absolute;
  left: 66px;
  top: 54px;
}
.s-0-00 {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "Jost", sans-serif;
  position: absolute;
  left: 10px;
  top: 136px;
  width: 138px;
  height: 25px;
}
.for-the-health-specialist {
  color: #000000;
  text-align: center;
  font: 400 13px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 483px;
  top: 2106px;
  width: 147px;
  height: 16px;
}
.frame-27 {
  background: #ffffff;
  border-radius: 11px;
  width: 180px;
  height: 479px;
  position: absolute;
  left: 253px;
  top: 1958px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-352 {
  background: #91ddc6;
  width: 183px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.premiun {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 21px;
  top: 14px;
  width: 138px;
  height: 25px;
}
.s-200 {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "Jost", sans-serif;
  position: absolute;
  left: 22px;
  top: 130px;
  width: 138px;
  height: 25px;
}
.eliminaci-n-de-anuncios-para-una-experiencia-sin-interrupciones-acceso-a-una-base-de-datos-m-s-amplia-de-proveedores-locales-y-opciones-de-catering-m-sica-y-lugares-caracter-sticas-avanzadas-como-herramientas-de-dise-o-de-invitaciones-personalizadas-soporte-al-cliente-prioritario-y-acceso-a-actualizaciones-exclusivas {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 16px;
  top: 146px;
  width: 144px;
  height: 248px;
}
.eliminaci-n-de-anuncios-para-una-experiencia-sin-interrupciones-acceso-a-una-base-de-datos-m-s-amplia-de-proveedores-locales-y-opciones-de-catering-m-sica-y-lugares-caracter-sticas-avanzadas-como-herramientas-de-dise-o-de-invitaciones-personalizadas-soporte-al-cliente-prioritario-y-acceso-a-actualizaciones-exclusivas-span {
  color: #000000;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
}
.eliminaci-n-de-anuncios-para-una-experiencia-sin-interrupciones-acceso-a-una-base-de-datos-m-s-amplia-de-proveedores-locales-y-opciones-de-catering-m-sica-y-lugares-caracter-sticas-avanzadas-como-herramientas-de-dise-o-de-invitaciones-personalizadas-soporte-al-cliente-prioritario-y-acceso-a-actualizaciones-exclusivas-span2 {
  color: #000000;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
}
.rectangle-372 {
  border-radius: 0px;
  position: absolute;
  left: 36px;
  top: 416px;
  overflow: visible;
}
.obtenerlo2 {
  color: #ffffff;
  text-align: center;
  font: 400 14px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 36px;
  top: 416px;
  width: 108px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-36 {
  width: 61px;
  height: 66px;
  position: absolute;
  left: 60px;
  top: 52px;
}
.frame-28 {
  background: #ffffff;
  border-radius: 11px;
  width: 183px;
  height: 480px;
  position: absolute;
  left: 461px;
  top: 1957px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-353 {
  background: #8785ee;
  width: 183px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.premiun-gold {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 10px;
  top: 14px;
  width: 157px;
  height: 25px;
}
.s-300 {
  color: #000000;
  text-align: center;
  font: 400 24px/16px "Jost", sans-serif;
  position: absolute;
  left: 15px;
  top: 130px;
  width: 138px;
  height: 25px;
}
.rectangle-373 {
  background: #eb5050;
  border-radius: 11px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 36px;
  top: 414px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.obtenerlo3 {
  color: #ffffff;
  text-align: center;
  font: 400 14px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 39px;
  top: 414px;
  width: 105px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-37 {
  width: 52px;
  height: 59px;
  position: absolute;
  left: 64px;
  top: 67px;
}
.todas-las-caracter-sticas-del-servicio-premium-acceso-a-funcionalidades-exclusivas-como-servicios-de-planificaci-n-de-eventos-personalizados-por-parte-del-equipo-de-the-great-event-invitaciones-a-eventos-exclusivos-o-descuentos-especiales-en-servicios-de-eventos {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
  position: absolute;
  left: 15px;
  top: 155px;
  width: 138px;
  height: 213px;
}
.todas-las-caracter-sticas-del-servicio-premium-acceso-a-funcionalidades-exclusivas-como-servicios-de-planificaci-n-de-eventos-personalizados-por-parte-del-equipo-de-the-great-event-invitaciones-a-eventos-exclusivos-o-descuentos-especiales-en-servicios-de-eventos-span {
  color: #000000;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
}
.todas-las-caracter-sticas-del-servicio-premium-acceso-a-funcionalidades-exclusivas-como-servicios-de-planificaci-n-de-eventos-personalizados-por-parte-del-equipo-de-the-great-event-invitaciones-a-eventos-exclusivos-o-descuentos-especiales-en-servicios-de-eventos-span2 {
  color: #000000;
  font: 400 10px/16px "IM FELL French Canon", sans-serif;
}
.sin-t-tulo-55-1 {
  width: 153px;
  height: 134px;
  position: absolute;
  left: 130px;
  top: 1311px;
}
.image-26 {
  width: 141px;
  height: 131px;
  position: absolute;
  left: 473px;
  top: 1593px;
}
.frame-29 {
  background: #ffffff;
  border-radius: 11px;
  width: 122px;
  height: 234px;
  position: absolute;
  left: 486.32px;
  top: 1281.23px;
  overflow: hidden;
}
.cel-1 {
  width: 280.71px;
  height: 312.24px;
  position: absolute;
  left: -80.32px;
  top: -41.94px;
  transform-origin: 0 0;
  transform: rotate(0.06deg) scale(1, 1);
}
.the-great-event2 {
  color: #000000;
  text-align: center;
  font: 400 13px/16px "Jost", sans-serif;
  position: absolute;
  left: 13.04px;
  top: 53.43px;
  width: 94.94px;
  height: 16.77px;
}
.selecciones-que-tipo-de-usuario-es {
  color: #000000;
  text-align: left;
  font: 400 5px "Roboto", sans-serif;
  position: absolute;
  left: 20.28px;
  top: 90px;
  width: 90px;
  height: 20px;
}
.vector {
  position: absolute;
  left: 18.61px;
  top: 97.38px;
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: 23px;
  top: 189px;
  overflow: visible;
}
.instagram {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 21px;
  top: 207px;
  overflow: hidden;
}
.ico-24-social-media-tools-instagram {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-arrow-top {
  position: absolute;
  left: 54px;
  top: 121px;
  overflow: visible;
}
.cliente {
  color: #ffffff;
  text-align: left;
  font: 500 8px "Roboto", sans-serif;
  position: absolute;
  left: 48.69px;
  top: 99.21px;
  width: 37px;
  height: 11px;
}
.provedor {
  color: #ffffff;
  text-align: left;
  font: 500 7px "Roboto", sans-serif;
  position: absolute;
  left: 46.03px;
  top: 191.55px;
  width: 93px;
  height: 12px;
}
.icon-arrow-bottom {
  position: absolute;
  left: 56px;
  top: 170px;
  overflow: visible;
}
.ico-24-social-media-tools-facebook-square {
  position: absolute;
  left: 40px;
  top: 207px;
  overflow: visible;
}
.ico-24-communication-send {
  position: absolute;
  left: 82.69px;
  top: 207.32px;
  overflow: visible;
}
.ico-24-social-media-tools-twitter {
  position: absolute;
  left: 61.35px;
  top: 207.32px;
  overflow: visible;
}
.analisis-1-2 {
  width: 40px;
  height: 34px;
  position: absolute;
  left: 43.64px;
  top: 19.08px;
  transform-origin: 0 0;
  transform: rotate(-0.305deg) scale(1, 1);
}
.image-48 {
  width: 43.68px;
  height: 30.04px;
  position: absolute;
  left: 36.67px;
  top: 133.09px;
  transform-origin: 0 0;
  transform: rotate(1.22deg) scale(1, 1);
}
.image-43 {
  width: 126px;
  height: 133px;
  position: absolute;
  left: 528px;
  top: 136px;
}
.image-44 {
  width: 101px;
  height: 138px;
  position: absolute;
  left: 391px;
  top: 131px;
}
.analisis-1-22 {
  width: 45px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 9px;
}
.image-47 {
  width: 368px;
  height: 230px;
  position: absolute;
  left: 153px;
  top: 859px;
}
.rectangle-49 {
  background: #fbf7ea;
  width: 163px;
  height: 238px;
  position: absolute;
  left: 85px;
  top: 566px;
}
.puede-proporcionar-acceso-a-proveedores-de-servicios-de-m-sica-como-d-js-o-bandas {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: 101px;
  top: 696px;
  width: 131px;
  height: 62px;
}
.rectangle-80,
.rectangle-80 * {
  box-sizing: border-box;
}
.rectangle-80 {
  background: #ffdb7a;
  width: 163px;
  height: 118px;
  position: relative;
  left: 265px;
  top: 566px;
}

.rectangle-50 {
  background: #0097d1;
  width: 163px;
  height: 118px;
  position: absolute;
  left: 85px;
  top: 566px;
}
.rectangle-81 {
  background: #FFCC48;
  width: 64px;
  height: 23px;
  position: absolute;
  left: 285px;
  top: 770px;
}
.rectangle-51 {
  background: rgba(71, 159, 223, 0.89);
  width: 64px;
  height: 23px;
  position: absolute;
  left: 101px;
  top: 770px;
}
.leer-m-s {
  color: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: calc(50% - 226px);
  top: calc(50% - 544.5px);
}
.image-83 {
  width: 103px;
  height: 96px;
  position: absolute;
  left: 300px;
  top: 576px;
}
.image-84 {
  width: 103px;
  height: 96px;
  position: absolute;
  left: 117px;
  top: 576px;
}
.image-57 {
  width: 153px;
  height: 274px;
  position: absolute;
  left: 288px;
  top: 1570px;
}
.rectangle-52 {
  background: #fbf7ea;
  width: 163px;
  height: 238px;
  position: absolute;
  left: 441px;
  top: 565px;
}
.medio cuadro {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: relative;
  width: 131px;
  top: 200px;
  height: 62px;
}
.puede-conectar-a-los-usuarios-con-servicios-de-catering-que-ofrecen-una-variedad-de-opciones-culinarias {
  color: #000000;
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: 455px;
  top: 693px;
  width: 144px;
}
.rectangle-53 {
  background: #92dd91;
  width: 163px;
  height: 118px;
  position: absolute;
  left: 441px;
  top: 565px;
}
.rectangle-54 {
  background: #77a991;
  width: 64px;
  height: 23px;
  position: absolute;
  left: 457px;
  top: 769px;
}
.rectangle-85 {
  background: #fbf7ea;
  width: 163px;
  height: 40px;
  position: relative;
  left: 265px;
  top: 565px;
}
.rectangle-82 {
  background: #fbf7ea;
  width: 163px;
  height: 80px;
  position: relative;
  left: 265px;
  top: 565px;
  font: 400 10px/16px "Inria Serif", sans-serif;
  padding: 10px;
}

.leer-m-s80 {
  color: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: 295px;
  top: 775px;
}
.leer-m-s2 {
  color: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  text-align: left;
  font: 400 10px/16px "Inria Serif", sans-serif;
  position: absolute;
  left: calc(50% - -131px);
  top: calc(50% - 545.5px);
}
.image-56 {
  width: 103px;
  height: 96px;
  position: absolute;
  left: 471px;
  top: 576px;
}
.nosotros {
  color: #d11900;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 273px;
  top: 835px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nuestra-app {
  color: #fd0909;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 118px;
  top: 1221px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.descargar-app {
  color: #eb5050;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 33px;
  top: 1647px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nuestros-planes-anuales {
  color: #eb5050;
  text-align: left;
  font: 400 40px "Fraunces", sans-serif;
  position: absolute;
  left: 111px;
  top: 1891px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
